.doneCategories {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 100%;
}

.doneCategoryBtn {
  background-color: transparent;
  border: 2px solid rgb(252, 196, 54);
  border-radius: 50%;
  box-sizing: border-box;
  height: 66px;
  margin-top: 20px;
  position: relative;
  width: 66px;
}

.txtFilterDone {
  align-items: flex-start;
  color: rgb(121, 125, 134);
  display: flex;
  flex-flow: row wrap;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  justify-content: center;
  left: 15px;
  line-height: 9px;
  text-align: center;
  transform: translateY(50px);
}

.donesDisplay {
  display: flex;
  flex-flow: column wrap;
  gap: 10px 0;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.doneDisplay {
  background: white;
  border: 0.518px solid rgb(177, 177, 177);
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  height: 135px;
  margin: 0 auto;
  width: 318px;
}

.doneImgBtn {
  background-color: transparent;
  border: none;
  height: auto;
  width: auto;
}

.doneImg {
  border-radius: 5px 0 0 5px;
  height: 134.85px;
  margin: 0;
  width: 163.35px;
}

.doneInfos {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 10px;
  position: relative;
  width: 128px;
  word-break: normal;
}

.doneTitleBtn {
  background-color: transparent;
  border: none;
  height: auto;
  width: auto;
}

.doneTitle {
  color: rgb(26, 27, 28);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-align: start;
}

.doneCategory {
  color: rgb(121, 125, 134);
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
  height: 9px;
  line-height: 9px;
  text-align: start;
  width: 100%;
}

.doneInTxt {
  color: rgb(26, 27, 28);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  height: 9px;
  line-height: 9px;
  text-align: start;
  width: 100%;
}

.doneTags {
  display: flex;
  flex-flow: row wrap;
  gap: 0 5px;
  justify-content: flex-start;
  width: 100%;
}

.doneTag {
  align-items: center;
  background: rgb(217, 217, 217);
  border-radius: 10px;
  color: rgb(121, 125, 134);
  display: flex;
  flex-flow: row wrap;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  justify-content: center;
  line-height: 9px;
  padding: 0 5px;
  width: auto;
}

.doneShareBtn {
  background-color: transparent;
  border: none;
  height: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  width: auto;
}

.doneShareImg {
  filter: invert(91%) sepia(25%) saturate(2611%)
    hue-rotate(329deg) brightness(104%) contrast(98%);
  transform: translateX(27px);
}
