.favoriteCategories {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 100%;
}

.favoriteCategoryBtn {
  background-color: transparent;
  border: 2px solid rgb(252, 196, 54);
  border-radius: 50%;
  box-sizing: border-box;
  height: 66px;
  margin-top: 20px;
  position: relative;
  width: 66px;
}

.allImg {
  background-image: url('../images/png/fast_food_outline.png');
  background-position: center;
  background-repeat: no-repeat;
}

.foodImg {
  background-image: url('../images/png/mealIcon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.drinksImg {
  background-image: url('../images/png/drinkIcon.png');
  background-position: center;
  background-repeat: no-repeat;
}

.favoritesDisplay {
  display: flex;
  flex-flow: column wrap;
  gap: 10px 0;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.txtFilterFavorites {
  align-items: flex-start;
  color: rgb(121, 125, 134);
  display: flex;
  flex-flow: row wrap;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  justify-content: center;
  left: 15px;
  line-height: 9px;
  text-align: center;
  transform: translateY(50px);
}

.favoriteDisplay {
  background: white;
  border: 0.518px solid rgb(177, 177, 177);
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  height: 135px;
  margin: 0 auto;
  width: 318px;
}

.favoriteImg {
  border-radius: 5px 0 0 5px;
  height: 134.85px;
  margin: 0;
  width: 163.35px;
}

.favoriteInfos {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 20px;
  width: 152.5px;
}

.titleContainer {
  width: 100%;
}

.favoriteTitle {
  color: rgb(26, 27, 28);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-align: start;
  width: 100%;
}

.favoriteTitleLink {
  height: 12px;
  width: auto;
}

.favoriteCategory {
  color: rgb(121, 125, 134);
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
  height: 9px;
  line-height: 9px;
  text-align: start;
  width: 100%;
}

.favoriteShareBtn {
  background-color: transparent;
  border: none;
  height: auto;
  width: auto;
}

.favoriteShareImg {
  filter: invert(91%) sepia(25%) saturate(2611%)
    hue-rotate(329deg) brightness(104%) contrast(98%);
  height: 20.3px;
  margin-right: 15px;
  width: 22.89px;
}

.favoriteLikeBtn {
  background-color: transparent;
  border: none;
  height: auto;
  width: auto;
}

.favoriteLikeImg {
  filter: invert(91%) sepia(25%) saturate(2611%)
    hue-rotate(329deg) brightness(104%) contrast(98%);
  height: 20.3px;
  width: 22.89px;
}
