.footer {
  background: rgb(65, 25, 127);
  bottom: 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: row wrap;
  height: 52px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.btnFooterDrink, .btnFooterMeal {
  background-color: transparent;
  border: none;
  filter: invert(96%) sepia(58%) saturate(5143%)
    hue-rotate(325deg) brightness(100%) contrast(98%);
}

.btnFooterDrink {
  margin-left: 80px;
}

.btnFooterMeal {
  margin-right: 80px;
}
