.loginContainer {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  height: 640px;
  justify-content: center;
  width: 100%;
}

.loginBox {
  align-items: center;
  background-image: url('../images/png/bgLogin.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  height: 640px;
  justify-content: flex-end;
  width: 360px;
}

.loginLogo {
  transform: translateY(-230px);
}

.inputEmail, .inputPass {
  border: 0.5px solid rgb(65, 25, 127);
  border-radius: 5px;
  box-sizing: border-box;
  height: 40px;
  padding: 0 10px;
  width: 276px;
}

.btnLogin {
  background: rgb(252, 196, 54);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 276px;
}

.btnLogin:disabled {
  background: rgb(255, 230, 166);
}

@media screen and ( width > 360px ) {

  .loginContainer {
    background-color: rgb(65, 25, 127);
    height: 100vh;
  }

  .loginBox {
    border-radius: 5px;
    box-shadow: inset 0 0 44px 23px rgba(65, 25, 127, 0.5);
  }
}
